/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


body { 
  font-family: 'Inter', sans-serif; 
}

/* Dotted background pattern */
.bg-pattern {
  background-color: #eef2f6;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 32px 32px;
}